.bg-dark{
    background-color: #B03060 !important;
    box-shadow: 0 3px 6px #00000029;
}


.cat {
    display: flex;
    flex-wrap: wrap;
}

.catitem {
    background-color: #eee;
    margin-bottom: 10px;
    padding: 10px;
    margin-right: 10px;
    width: fit-content;
    border-radius: 10px;
}
.catitem a{
    color: #000;
    text-decoration: none;
}
body {
    overflow-x: hidden;
}

.card-wrapper {
    overflow: auto;
    display: flex;
    
}

.card {
    width: 50%;
    margin-right: 30px;
    flex-shrink: 0;
    height: auto;
    text-align: center;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 9px;
}

.cardimg {
    width: auto;
    height: 120px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    box-shadow: 0px 3px 6px #00000029;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #eee;

}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: #eee;
    border-radius: 7px;
}


footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin-bottom: 0;
}