html {
box-sizing: border-box;
}

/* .bg-dark{
    background-color: #343a408f;
} */

nav{
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.container{
    width: 100%;
    height: 80vh;
    
}

body {
margin: 0;
background:  #B03060;
font-family: 'Poppins', sans-serif;

}

.brown-box1{
    position: fixed;
    width: 600px;
    height: 600px;
    background-color: #964B00;
    z-index: 0;
    border-radius: 15px;
    box-shadow: 0px 3px 6px #00000029;
    transform: rotateZ(30deg) translateY(-350px) translateX(50px);
    overflow: hidden;
    opacity: 0.5;
}

.brown-box2{
    position: fixed;
    width: 600px;
    height: 600px;
    background-color: rgb(206, 46, 105);
    z-index: 0;
    border-radius: 15px;
    box-shadow: 0px 3px 6px #00000029;
    transform: rotateZ(30deg) translateY(350px) translateX(150px);
    overflow: hidden;
    opacity: 0.5;
}
.landing {
position: relative;
color: #000;
text-align: center;
height: 40vh;

}

.landing h1 {
    position: relative;
font-size: 5rem;
margin: 7rem 1.25rem 2.5rem 1.25rem;
z-index: 1;
color: rgba(238, 236, 236, 0.87);
}

.landing p {
    position: relative;
font-size: 1.5rem;
margin: 0 1.25rem 5rem 1.25rem;
z-index: 1;
color: rgba(238, 236, 236, 0.87);
}

.landing-btns{
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 2rem;
    text-align: center;
    width: 85%;
}


footer{
    position: relative;
    z-index: 1;
    margin-top: 5rem;
    padding: 0.5rem;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.575);
}

@media (min-width:62rem){
    .brown-box1{
        display: none;
    }

    body{
        background-image: url('../images/undraw_researching_22gp.svg');
        background-repeat: no-repeat;
        background-position: right;
        background-size: 50%;
    }
}